.form__label {
	font-size: 1.4rem;
	margin-bottom: 0.5rem;
	color: var(--smokey-grey);
	font-weight: 600;
}
.text__input {
	width: 85%;
	font-size: 2rem;
	padding: 1rem;
	&::placeholder {
		color: var(--smokey-grey);
		font-weight: 600;
	}
}

.form__field {
	&--error {
		visibility: hidden;
		margin-top: 0.5rem;
		color: var(--light-red);
	}
}

.divider {
	display: flex;
	justify-content: flex-end;
	@media (max-width: 38em) {
		justify-content: center;
	}
	position: relative;
	.icon__arrow {
		position: relative;

		left: 0;
		background-color: var(--purple);
		border-radius: 50%;
		padding: 1rem;
		width: 2rem;
		height: 2rem;
		z-index: 2;
	}
	&::before {
		content: "";
		width: 100%;
		border-bottom: solid 1px var(--light-grey);
		position: absolute;
		left: 0;
		top: 50%;
		z-index: 1;
	}
}
