.container {
	display: flex;
	flex-direction: column;
	background-color: var(--white);
	border-radius: 0.9rem 0.9rem 6rem 0.9rem;
	padding: 2rem;
}

.form {
	display: flex;
	&__field {
		display: flex;
		flex-direction: column;
	}
}
