.container {
	display: flex;
	flex-direction: column;
	background-color: var(--white);
	border-radius: 0.9rem 0.9rem 15rem 0.9rem;
	padding: 3rem;
	width: 45rem;
	@media (max-width: 38em) {
		max-width: 35rem;
	}
}

.form {
	width: 85%;
	display: flex;
	gap: 2rem;
	@media (max-width: 38em) {
		width: 95%;
	}
	&__field {
		display: flex;
		flex-direction: column;
	}
}
.result__text {
	font-size: 5.6rem;
	&--purple {
		color: var(--purple);
		font-weight: 800;
	}
	&--bold {
		font-style: italic;
		font-weight: 800;
	}
}
